{% extends "base.html" %}
{% block title %}"Add billing address"{% endblock %}
{% block content %}
<div id="edit-address-form">
  <form method='post' action=''>
    {% csrf_token %}
      <div class="form-group">
    		{{ form.number_street.label_tag }}
    		{{ form.number_street }}
    	</div>
    	<div class="form-group">
    		{{ form.suburb.label_tag }}
    		{{ form.suburb }}
    	</div>
    	<div class="form-group">
    		{{ form.city.label_tag }}
    		{{ form.city }}
    	</div>
    	<div class="form-group">
    		{{ form.region.label_tag }}
    		{{ form.region }}
    	</div>
    	<div class="form-group">
    		{{ form.country.label_tag }}
    		{{ form.country }}
    	</div>
    	<div class="form-group">
    		{{ form.postcode.label_tag }}
    		{{ form.postcode }}
    	</div>
    {% if next %}
    <input name="next" type="hidden" value="{{ next }}">
    {% endif %}
    <input class="btn btn-default" type="submit" value="Add Address">
  </form>
</div>
{% endblock %}
