{% extends "base.html" %}
{% block title %}"All Addresses"{% endblock %}
{% block content %}
    {% if addresses%}
    <form method='post' action=''>
	  <input type="submit" name="Add New Address" value="Add New Address"/>
      <input type="submit" name="Delete" value="Delete"/>
      {% csrf_token %}
      <div class="table-responsive">
      <table class="table table-hover table-striped">
      <tr>
        {% for entry in heading %}
          <th>{{ entry }}</th>
        {% endfor %}
      </tr>
        {% for entry in addresses %}
          <tr>
            <td><input type="checkbox" name="selected" value="{{entry.pk}}"></td>
            <td>{{entry.user}}</td>
            <td>{{entry.default}}</td>
            <td>{{entry}}</td>
            <td><a href="/editaddress/{{entry.pk}}">Update Address</a></td>
            <td><a href="/defaultaddress/{{entry.pk}}">Default Address</a></td>
          </tr>
        {% endfor %}
      </table>
      </div>
      <input type="submit" name="Add New Address" value="Add New Address"/>
      <input type="submit" name="Delete" value="Delete"/>
    </form>
    {% else %}
      <form method='post' action=''>
	  {% csrf_token %}
      <input type="submit" name="Add New Address" value="Add New Address"/>
      </form>
      <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          No matches found.
      </div>
    {% endif %}
{% endblock %}
