{% extends "base.html" %}
{% block title %}"All Users"{% endblock %}
{% block content %}
  {% if users %}
    <form method='post' action=''>
      <input type="submit" name="Enable" value="Enable"/>
      <input type="submit" name="Disable" value="Disable"/>
      {% csrf_token %}
      <div class="table-responsive">
      <table class="table table-hover table-striped">
      <tr>
        {% for entry in heading %}
          <th>{{ entry }}</th>
        {% endfor %}
      </tr>
        {% for entry in users %}
          <tr>
            <td><input type="checkbox" name="selected" value="{{entry.username}}"></td>
            <td>{{entry.username}}</td>
            <td>{{entry.first_name}}</td>
            <td>{{entry.last_name}}</td>
            <td>{{entry.email}}</td>
            <td>{{entry.is_active}}</td>
          </tr>
        {% endfor %}
      </table>
      </div>
      <input type="submit" name="Enable" value="Enable"/>
      <input type="submit" name="Disable" value="Disable"/>
    </form>
  {% else %}
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        No matches found.
    </div>
  {% endif %}
{% endblock %}
