
{% load bootstrap3 %}

<html>
    <head>
        <title>MarketPlace</title>
        {% load staticfiles %}
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>



       <div class="container">
            <div id="header">
              <nav class="navbar navbar-default navbar-fixed-top" id="menu">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <div id="logo">
                      <a href="/"><h2>MarketPlace</h2></a>
                    </div>
                  </div>
                  <div id="navbar" class="navbar-collapse collapse">
                     <form class="navbar-form navbar-left" role="search" id="search_form" action="/search" method="get">
                        <div class="form-group" id="search_group">
                          <input type="text" name="search" class="form-control" placeholder="Search" id="search_input">
                        </div>
                        <div class="btn-group">
                            <button type="submit" class="btn btn-default" id="search_button">Search</button>
                        </div>
                      </form>
                    <ul class="nav navbar-nav navbar-right" id="nav_buttons">
                      {% if request.user.username %}
                        <li><a href="/category/all/">Products</a></li>
                        <li><a href="/editdetails/">Hi {{ request.user.username }}</a></li>
                        <li><a class="btn btn-sm" href="/logout/" role="button">Logout</a></li>
                        <li><a class="glyphicon glyphicon-shopping-cart" href="/cart">Cart{% if cart.count %}({{ cart.count }}){% endif %}</a></li>
                      {% else %}
                        <li><a href="/category/all/">Products</a></li>
                        <li><a href="/register/">Sign up</a></li>
                        <li><a class="btn btn-sm" href="/login/" role="button">Log in</a></li>
                        <li><a class="glyphicon glyphicon-shopping-cart" href="/cart">Cart{% if cart.count %}({{ cart.count }}){% endif %}</a></li>
                      {% endif %}
                    </ul>
                  </div><!--/.nav-collapse -->
                </div><!--/.container-fluid -->
              </nav>
            </div>

            {% block content %}
            {% endblock %}
        </div> <!-- /container -->


      <div class="jumbotron footer_buffer">
      </div>

        <footer class="footer">
            <div class="row centered_footer">
                <div class="col-md-3">
                  <p><a href="/">Home</a></p>
                </div>
                <div class="col-md-3">
                  <p><a href="/">store stuff</a></p>
                  <p><a href="/">things!</a></p>
                  <p><a href="/">filler content</a></p>
               </div>
                <div class="col-md-3">
                  <p><a href="/">more store stuff</a></p>
                  <p><a href="/">more things!</a></p>
                  <p><a href="/">more filler content</a></p>
               </div>
                <div class="col-md-3">
                  <p><a href="/">Contact us</a></p>
                </div>
              </div>
        </footer>

        {% block scripts %}
        {% endblock %}
  </body>
</html>
