
{% load bootstrap3 %}

<html>
    <head>
        <title>MarketPlace</title>
        {% load staticfiles %}
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>


       <div id="header">
         <nav class="navbar navbar-default navbar-static-top" id="menu">
           <div class="container-fluid">
             <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
               </button>
               <div id="logo">
                 <a href="/"><h2>MarketPlace</h2></a>
               </div>
             </div>
             <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-left" role="search" id="search_form" action="/search" method="get">
                   <div class="form-group" id="search_group">
                     <input type="text" name="search" class="form-control" placeholder="Search" id="search_input">
                   </div>
                   <div class="btn-group">
                       <button type="submit" class="btn btn-default" id="search_button">Search</button>
                   </div>
                 </form>
               <ul class="nav navbar-nav navbar-right" id="nav_buttons">
                 {% if request.user.username %}
                   <li><a href="/category/all/">Products</a></li>
                   <li class="dropdown">
                       <a class="dropdown-toggle" data-toggle="dropdown" href="#">Hi {{ request.user.username }}
                       <span class="caret"></span></a>
                       <ul class="dropdown-menu">
                         <li>
                           {% if request.user.is_superuser %}
                             <form action="/chat" method="get">
                               <input type="text" name="chat" placeholder="chat with user: username"/>
                             </form>
                           {% else %}
                            <li><a href="/listsales/">Your Sales Orders</a></li>
                            <li><a href="/chat?chat=admin">Chat with customer support</a></li>
                           {% endif %}
                         </li>
                         <li><a href="/editdetails/">Edit Credentials</a></li>
                         <li><a href="/editaddress/">Edit Billing Address</a></li>
                         <li><a href="/logout/">Logout</a></li>
                         {% if request.user.is_superuser %}
                         <li role="separator" class="divider"></li>
                         <li><p>admin actions:</p></li>
                         <li><a href="/listusers/">All Users</a></li>
                         <li><a href="/listsales/">All Sales Orders</a></li>
                         {% endif %}
                       </ul>
                   </li>
                   <li class="menu-divider"></li>
                   <li><a class="glyphicon glyphicon-shopping-cart" href="/cart">Cart{% if cart.count %}<span class="badge">{{ cart.count }}</span>{% endif %}</a></li>
                 {% else %}
                   <li><a href="/category/all/">Products</a></li>
                   <li><a href="/register/">Sign up</a></li>
                   <li><a href="/login/" id="login-link"><button class="btn btn-default btn-sm" role="button">Log in</button></a></li>
                   <li class="menu-divider"></li>
                   <li><a class="glyphicon glyphicon-shopping-cart" href="/cart">Cart{% if cart.count %}<span class="badge">{{ cart.count }}</span>{% endif %}</a></li>
                 {% endif %}
               </ul>
             </div><!--/.nav-collapse -->
           </div><!--/.container-fluid -->
         </nav>
       </div>

       <div class="container">

            {% block content %}
            {% endblock %}
        </div> <!-- /container -->


      <div class="jumbotron footer_buffer">
      </div>

        <footer class="footer">
            <div class="row centered_footer">
                <div class="col-md-3">
                  <p><a href="/">home</a></p>
                </div>
                <div class="col-md-3">
                  <p><a href="/">store stuff</a></p>
                  <p><a href="/">things!</a></p>
                  <p><a href="/">filler content</a></p>
               </div>
                <div class="col-md-3">
                  <p><a href="/">more store stuff</a></p>
                  <p><a href="/">more things!</a></p>
                  <p><a href="/">more filler content</a></p>
               </div>
                <div class="col-md-3">
                  <p><a href="/">Contact us</a></p>
                </div>
              </div>
        </footer>

        {% block scripts %}
        {% endblock %}
  </body>
</html>
