{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %} Market Place {% endblock %}

{% block content %}

  <div class="jumbotron">
    <div class="cart">
        <h2>Cart</h2>
        <table>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Total Price</th>
            </tr>
            {% for item in cart %}
            <tr>
                <td><a href="/product/{{ item.product.pk }}" style="text-decoration: none">{{ item.product.name }}</a></td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.total_price }}</td>
            </tr>
            {% endfor %}
        </table>

        <h4>Total Cost: {{ cart.summary }}</h4>
    </div>
  </div>

{% endblock %}
