{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %} Market Place {% endblock %}

{% block content %}

  <div class="jumbotron">
    <div class="cart">
       <legend>Your Cart</legend>
        <table class="table table-striped">
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th></th>
                <th></th>
                <th>Total Price</th>
            </tr>
            {% for item in cart %}
            <tr>
                <td><a href="/product/{{ item.product.pk }}" style="text-decoration: none">{{ item.product.name }}</a></td>
                <td class="cart-update">
                    <form action="/cart/{{ item.product.pk }}/update" method="post">
                        {% csrf_token %}          
                        <input id="id_quantity" min="0" name="quantity" type="number" value="{{ item.quantity }}">
                        <input id="id_update" name="update" type="hidden" value="true">
                        <input class="btn btn-default" type="submit" value="Update">
                    </form>
                </td>
                <td>
                    <form action="/cart/{{ item.product.pk }}/update" method="post">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-default" id="remove_cart">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Remove From Cart</button>
                      <!-- <input type="submit" value="Remove from cart"> -->
                    </form>
                </td>
                <td></td>
                <td>{{ item.total_price }}</td>
            </tr>
            {% endfor %}
        </table>

        <h4>Total Cost: {{ cart.summary }}</h4>        

        {% if cart.count %}
        <div class="checkout-button">
            {% if request.user.username %}
            <form action="/cart/checkout/" method="get">
                <button type="submit" class="btn btn-default" id="remove_cart">
                    <span class="glyphicon glyphicon-check" aria-hidden="true"></span>Checkout
                </button>
            </form>
            {% else %}
            <p>Please log in to checkout.</p>
            {% endif %}
        </div>
        {% endif %}
    </div>
  </div>

{% endblock %}
