{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %} Market Place {% endblock %}

{% block content %}

  <div class="jumbotron">
    <div class="cart">
        <h2>Cart</h2>
        <table>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th></th>
                <th></th>
                <th>Total Price</th>
            </tr>
            {% for item in cart %}
            <tr>
                <td><a href="/product/{{ item.product.pk }}" style="text-decoration: none">{{ item.product.name }}</a></td>
                <td>
                    <form action="/cart/{{ item.product.pk }}/update" method="post">
                        {% csrf_token %}          
                        <input id="id_quantity" min="0" name="quantity" type="number" value="{{ item.quantity }}">
                        <input id="id_update" name="update" type="hidden" value="true">
                        <input type="submit" value="Update">
                    </form>
                </td>
                <td>
                    <form action="/cart/{{ item.product.pk }}/update" method="post">
                      {% csrf_token %}
                      <input type="submit" value="Remove from cart">
                    </form>
                </td>
                <td></td>
                <td>{{ item.total_price }}</td>
            </tr>
            {% endfor %}
        </table>

        <h4>Total Cost: {{ cart.summary }}</h4>
    </div>

    <div class="checkout-button">
        {% if request.user.username %}
        <form action="/cart/checkout/" method="get">
            {% csrf_token %}          
            <input type="submit" value="Checkout">
        </form>
        {% else %}
        <p>Please log in to checkout.</p>
        {% endif %}
    </div>
  </div>

{% endblock %}
