{% extends 'base.html' %}

{% block content %}
	<div class="product">
        <img width="100%" src="/media/{{ product.main_image }}">
		<h2>{{ product.name }}</h2>
		<h3>Price: {{ product.price }}</h3>
		<p>{{ product.description }}</p>

		<h4>Category: {{ product.category }}</h4>
        {% if in_cart %}
        <form action="/product/{{ product.pk }}/cart" method="post">
            {% csrf_token %}          
            <label for="id_quantity">Quantity:</label>
            <input id="id_quantity" min="0" name="quantity" type="number" value="{{ in_cart }}">
            <input id="id_update" name="update" type="hidden" value="true">
            <input class="btn btn-defualt" type="submit" value="Update">
        </form>      
        <form action="/product/{{ product.pk }}/cart" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-default" id="remove_cart">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Remove From Cart</button>
          <!--<input type="submit" value="Remove from cart">-->
        </form>
        {% else %}
        <form action="/product/{{ product.pk }}/cart" method="post">
          {% csrf_token %}
          {{ form.quantity.label_tag }}
          {{ form.quantity }}
          <input class="btn btn-default" type="submit" value="Add to cart">
        </form>
        {% endif %}
        {% if on_wishlist %}
        <form action="/product/{{ product.pk }}/wish" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-default" id="remove_wish">
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>Remove From Wishlist</button>
          <!--<input type="submit" class="btn btn-default" value="Remove from Wishlist">-->
        </form>
        {% else %}        
        <form action="/product/{{ product.pk }}/wish" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-default" id="add_wish">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>Add To Wishlist</button>
          <!--<input type="submit" class="btn btn-default" value="Add to Wishlist">-->
        </form>
        {% endif %}
    </div>  
{% endblock %}

{% block scripts %}
{% endblock %}
