{% extends 'base.html' %}

{% block content %}
{% if products %}

    <div class="panel panel-default" id="sort_search">
        <div class="panel-body">
            <form action="?search={{search}}" method="GET">
                <div class="form-group">
                    <label for="sort">Sort by:</label>
                    <select class="form-control" name="sort_type">
                        <option value="A-Z">A-Z</option>
                        <option value="Z-A">Z-A</option>
                        <option value="Lowest Price">Lowest Price</option>
                        <option value="Highest Price">Highest Price</option>
                    </select>
                    <input type="hidden" value="{{search}}" name="search">
                    <input class="submit_search" type="submit">
                </div>  
            </form>
        </div>       
    </div>

    <div class="row list_centered">
    {% for product in products %}       
        <a href="/product/{{ product.pk }}" style="text-decoration: none">
            <div class="product_list col-md-3">
            <div class="list_border">
                 <div class="list_info">
                    <div class="list_name"><p>{{ product.name }}</p></div>
                    <div class="list_price"><p>$ {{ product.price }}</p></div>
                </div>
                <div class="list_image">
                     <img width="100%" src="/media/{{ product.thumbnail }}">
                 </div>
            </div>
            </div>
        </a>
    {%endfor%}
    </div>
{% else %}
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        No matches found.
    </div>
{% endif %}
    
{% endblock %}
