
p {
	font-family: sans-serif;
}

.container-fluid{
  max-width: 1100px;
}

#header {
  margin-bottom: 10px;
}

#menu {
	min-height: 25px;
	border-color: #1976D2;
}

#menu a:hover{
	text-decoration: underline;
    color: #777;
}

#navbar{
	padding-left: 5px;
}

#search_form{
	margin-right: 0px;
	padding-right: 0px;
  padding-top: 10px;
}

#search_group{
	min-width: 280px;
}

#search_input{
	width: 100%;
	min-width: 250px;
	border-color: #1976D2;
	border-width: 1px;
}

#search_button{
	background-color: #B0BEC5;
	font-weight: bold;
}

#search_button:hover{
	background-color: #BBDEFB;
}

#search_extra{
	background-color: #91a23c;
	font-weight: bold;
	height: 34px;
}

#search_extra:hover{
	background-color: #76823C;
}

#nav_buttons{
  padding-top: 10px;
}

.menu-divider{
   margin-left: 10px;
   margin-right: 5px;
   margin-top: 5px;
   border-left: 1px solid #ccc;
   height: 40px;

}

.dropdown-menu>li>p{
    padding: 3px 20px;
    font-weight: 800;
    margin: 0px;
}

#login-link{
    padding-top: 10px;
}

.badge{
    margin-bottom: 10px;
    margin-left: 5px;
    padding-top: 2px;
    padding-bottom: 6px;
}


#logo a{
    text-decoration: none;
}

#logo a:hover{
    text-decoration: none;
    color: #337ab7;
}

#category_title{
	font-family: sans-serif;
	text-align: center;
	border: 1px solid #ccc;
}


.italics p{
	font-style: italic;
}


.jumbotron{
	padding-top: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: rgba(255, 255, 255, 0);
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.jumbotron h1{
    color: #91a23c;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 10px;
    clear: both;
    text-transform: capitalise;
}

.jumbotron h2{
    color: #5A5A5A;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 10px;
    clear: left;
    font-weight: bold;
    text-transform: capitalise;
}

.jumbotron p{
	font-size: 15px;
}

.jumbotron a {
    text-decoration: none;
    color: #91a23c;
    margin: 0px;
    padding: 0px;
}

.jumbotron img{
	float: right;
	text-align: right;
	margin-left: 30px;
}

/* Login Form: */
#login-form {
    max-width: 320px;
    margin: auto;
    padding-left: auto;
}

#login-form label{
    display: block;
    padding: 5px;
    margin-left: auto;
}

#login-form input{
    display: block;
    padding: 5px;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
}

#login-form input[type="submit"]{
    margin-top: 30px;
}

/* Edit Credentials Form: */
#edit-details-form {
    max-width: 320px;
    margin: auto;
    padding-left: auto;
}

#edit-details-form label{
    display: block;
    padding: 5px;
    margin-left: auto;
}

#edit-details-form input{
    display: block;
    padding: 5px;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
}

#edit-details-form input[type="submit"]{
    margin-top: 30px;
}

/* Edit Address Form: */
#edit-address-form {
    max-width: 320px;
    margin: auto;
    padding-left: auto;
}

#edit-address-form label{
    display: block;
    padding: 5px;
    margin-left: auto;
}

#edit-address-form input{
    display: block;
    padding: 5px;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
}

#edit-address-form input[type="submit"]{
    margin-top: 30px;
}

/*Product Detail Page:*/
.product {
	border-radius: 2px;
	border: 1px solid #ccc;
	padding: 10px 30px;
	margin: 20px;
}

.product h2 {
	font-size: 30px;
  color: #333;
  font-weight: bolder;
}

.product h3 {
	font-size: 20px;
  color: #333;
  font-weight: bolder;
}

.product textarea{
	resize: none;
	height: 200px;
	width: 100%;
	border-radius: 5px;
	border: 1px solid #91a23c;
	margin-bottom: 15px;
}

.product hr{
	border-top: 1px solid #91a23c;
}

#product-cart{
  margin-top: 30px;
}

#product-tags{
  margin-top: 20px;
}

.tag{
  display: inline-block;
  padding: 3px 5px;
  margin: 5px;
  border: 1px solid #91a23c;
}

.tag p {
  margin: 0px;
}


/*Product List Page:*/

.product_list {
    max-width: 300px;
    max-width: 300px;
    padding: 0px;
    padding: 10px;
    opacity: 0.8;
}

.product_list p {
    color: #333;
    margin: 0px;
}

.product_list:hover{
	opacity: 1
}

.list_border{
    border-radius: 2px;
    border: 1px solid #808080;
}

.list_image{
    display: block;
    width: 100%;
}

.list_info{
    border-bottom: 1px solid #ccc;
    display: block;
    width: 100%;
    color: #333;
    margin: 0px;
}

.list_centered{
    padding-right: auto;
    padding-left: auto;
}

.list_name{
    text-align: left;
    padding-top: 5px;
    padding-left: 5px;
    margin: 0px;
}

.list_price{
    text-align: right;
    padding-right: 5px;
    margin: 0px;
}


/* Cart Page:*/
.cart{
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}

.cart th, td{
    padding: 5px;
}
.cart-update{
    min-width: 160px;
}

.cart h4{
    text-align: center;
    margin-top: 30px;
}

.cart input[type=number]{
  max-width: 70px;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}




/* Footer: */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #f6f6f6;
}

.footer_buffer{
	height: 300px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  background-color: #1976D2;
  padding-top: 20px;
  padding-bottom: 30px;
}

.centered_footer{
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.centered_footer a{

	color: #fff;
}

.centered_footer p{
	margin: 0px;
}


/*STUFF FOR CAROUSEL*/
.carousel{
	height: 500px;
}

.carousel .item {
  height: 500px;
  background-color: #add8e6;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* Category stuff: */

.products_col_left {
	margin-top: 5px;
	margin-bottom: 5px;
	background: #DCDCDC;
}

.products_col_left div {
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid #A9A9A9;
}
#current_cat {
	padding: 5px;
}

#current_cat div h4{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px
}

#current_cat div ol{
	margin-top: 10px;
	margin-bottom: 10px;
}

#navigation {
	padding: 0px;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

#navigation ol {
	margin-bottom: 5px;
}
.section_right{
	background: #DCDCDC;
	margin: 5px;
}
.category_item {
	position: relative;
}

.category_view {
	padding-top: 15px;
	padding-right: 40px;
}

.category_link {
	position: relative;
	text-decoration: none;
	text-align: center;
  font-family: initial;
}

.sorting_bar {
	padding: 10px;
	padding-bottom: 0px;
	display: table;
  width: 100%;
}

.sorting_bar li {
	padding: 8px 12px;
	display: table-cell;
	vertical-align: top;
	text-align: center;
}

.sort_divider div{
	border-left:1px solid #A9A9A9;
	margin: 10px;
	height:48px;
}


/* Checkout Stuff */

.address-list {
    padding: 10px;
    margin: 10px;
    opacity: 0.8;
    background-color: #D2D2D2;
    border-radius: 5px;
}

.selected-address{
  background-color: #A2D652;
}

.select-address{
  padding: 20px;
}

#add-address{
  background-color: #A2D652;  
  padding: 15px;
  margin: 15px;
  border-radius: 5px;
  max-width: 45px;
  color: #333;
}


.address-list p {
    color: #000;
    margin: 0px;
}

.address-list:hover{
  opacity: 1
}


#admin_actions{
  color: black;
  text-decoration: none;
}

