
p {
	font-family: "Times New Roman";
}

#header {
	margin-top: 30px;
}

#logo a{
	text-decoration: none;
}

#menu {
	min-height: 25px;
	border-color: #1976D2;
}

#menu a:hover{
	font-weight: bold;
}

#navbar{
	padding-left: 5px;
}

#search_form{
	margin-right: 0px;
	padding-right: 0px;
  padding-top: 10px;
}

#search_group{
	min-width: 280px;
}

#search_input{
	width: 100%;
	min-width: 250px;
	border-color: #1976D2;
	border-width: 1px;
}

#search_button{
	background-color: #B0BEC5;
	font-weight: bold;
}

#search_button:hover{
	background-color: #BBDEFB;
}

#search_extra{
	background-color: #91a23c;
	font-weight: bold;
	height: 34px;
}

#search_extra:hover{
	background-color: #76823C;
}

#nav_buttons{
  padding-top: 10px;
}

#category_title{
	font-family: "Times New Roman";
	text-align: center;
	border: 1px solid #ccc;
}
.italics p{
	font-style: italic;
}

.jumbotron{
	padding-top: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: rgba(255, 255, 255, 0);
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.jumbotron h1{
    color: #91a23c;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 10px;
    clear: both;
    text-transform: capitalise;
}

.jumbotron h2{
    color: #5A5A5A;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 10px;
    clear: left;
    font-weight: bold;
    text-transform: capitalise;
}

.jumbotron p{
	font-size: 15px;
}

.jumbotron a {
    text-decoration: none;
    color: #91a23c;
    margin: 0px;
    padding: 0px;
}

.jumbotron img{
	float: right;
	text-align: right;
	margin-left: 30px;
}


.product {
	border-radius: 2px;
	border: 1px solid #ccc;
	padding: 10px 30px;
	margin: 20px;
}

.product h2 {
	font-size: 25px;
    color: #333;
}

.product h3 {
	font-size: 20px;
    color: #333;
}

.product textarea{
	resize: none;
	height: 200px;
	width: 100%;
	border-radius: 5px;
	border: 1px solid #91a23c;
	margin-bottom: 15px;
}

.product hr{
	border-top: 1px solid #91a23c;
}


.product_list {
    max-width: 300px;
    max-width: 300px;
    padding: 0px;
    padding: 10px;
    opacity: 0.8;
}

.product_list p {
    color: #333;
    margin: 0px;
}

.product_list:hover{
	opacity: 1
}

.list_border{
    border-radius: 2px;
    border: 1px solid #ccc;
}

.list_image{
    display: block;
    width: 100%;
}

.list_info{
    border-bottom: 1px solid #ccc;
    display: block;
    width: 100%;
    color: #333;
    margin: 0px;
}

.list_centered{
    padding-right: auto;
    padding-left: auto;
}

.list_name{
    text-align: left;
    padding-top: 5px;
    padding-left: 5px;
    margin: 0px;
}

.list_price{
    text-align: right;
    padding-right: 5px;
    margin: 0px;
}

.cart{
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
}

.cart th, td{
    padding: 5px;
}

.cart h4{
    text-align: center;
    margin-top: 30px;
}





html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer_buffer{
	height: 300px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  background-color: #91a23c;
  padding-top: 20px;
  padding-bottom: 30px;
}

.centered_footer{
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.centered_footer a{

	color: #fff;
}

.centered_footer p{
	margin: 0px;
}

/*STUFF FOR CAROUSEL*/
.carousel{
	height: 500px;
}

.carousel .item {
  height: 500px;
  background-color: #add8e6;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.category_item {
	position: relative;
}

.category_view {
	padding-top: 15px;
	padding-right: 40px;
}

.category_link {
	position: relative;
	text-decoration: none;
	text-align: center;
}
